/* ---------- Section headers ---------- */

/* Body of multiple sections */
.sections {
    display: flex;
    flex-direction: column;
    gap: var(--font-size-2xl); /* vertical space in between sections */
    padding-top: var(--space-8); /* vertical space to the page header + footer */
    padding-bottom: var(--space-20);
}

/* Body of header + cards */
.section {
    display: flex;
    flex-direction: column;
    gap: var(--font-size-md); /* vertical space in between header + cards */
}

/* Body of heading + subheading */
.section-header {
    display: flex;
    align-items: baseline;
    gap: 0 var(--font-size-2xs); /* horizontal space in between heading + subheading*/
}

/* H2 */
.section-heading {
    color: var(--muted);

}

/* Section cards count */
.section-subheading {
    color: var(--muted);
}

