/* ========== OVERRIDES / LEGACY ========== */
/* click effect */

a:active,
button:active:not([disabled]),
.entity:active {
    transform: translateY(1px);
}

.entity:hover {
    /*border-color: #3b82f6;*/
}

