header, .header {
    position: sticky;
    top: 0;
    z-index: var(--z-header);
    background: var(--color-overlay-header);
    background: hsla(214, 45%, 7%, 0.94);
    border: 1px solid var(--border);
    /*padding done through body-wrapper*/
}

.header-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-10);
    height: var(--header-height);
}

/* ---------- Logo text ---------- */

.logo-text {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--letter-spacing-wide);
    height: var(--header-height);
    align-content: center;
}

/* ---------- Tabs ---------- */

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tab {
    font-size: var(--font-size-md);
    padding: var(--space-4) var(--space-6);
    color: var(--muted);
    text-decoration: none;
    height: var(--header-height);
    align-content: center;
}

.tab.is-active {
    color: var(--text);
    border-bottom: 1px solid var(--color-accent);
}