/* ---------- Card body ---------- */
.card-img {
    display: block;
    max-width: 100%;
    margin: var(--space-3) 0;
    border-radius: var(--radius-sm);
}

.card-stats {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);

    align-items: flex-end;

    margin-top: var(--space-3);
    margin-bottom: var(--space-3);

    /*background-color: var(--color-surface-chip);*/
    /*border-bottom: 1px solid var(--color-border);*/

    /*justify-content: flex-end;*/
}

.card-stat {
    display: inline-flex;
    align-items: center;
    gap: var(--space-2);
    /*border: 1px solid var(--border);*/
    /*border-radius: var(--radius-full);*/
    /*padding: var(--space-1) var(--space-3);*/
    font-size: var(--font-size-xs);
    background: transparent;
}

.card-stat-label {
    color: var(--color-text-subtle);
    font-weight: var(--font-weight-semibold);
    /*font-weight: var(--font-weight-bold);*/
}

.card-stat-value {
    color: var(--color-text);
    /*color: var(--color-text-subtle);*/
    font-weight: var(--font-weight-semibold);
    /*font-weight: var(--font-weight-bold);*/
}

.rich-description {
    gap: 0 var(--space-2);
    color: var(--muted);
}

.rich-description span[style*="color"] {
    opacity: 0.8; /* reduce very bright colors */
}

.rich-description br {
    /* Adds more space below the break */
    display: block;
    content: "";
    margin-bottom: var(--font-size-3xs);
}

.rich-description-entity {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    padding: var(--space-1) var(--space-3);
    border: 1px solid var(--border);
    border-radius: var(--radius-full);
    gap: var(--space-3);
    background: transparent;
    cursor: pointer;
    user-select: none;
    font-size: var(--font-size-xs);
    transition: border-color .3s ease;
    position: relative;
    top: -2px; /* is better than negative margin, this doesn't affect surrounding elements */
}

.rich-description-entity, .rich-description-entity span {
    cursor: pointer;
}

.rich-description-entity:hover {
    border-color: var(--color-accent-hover);
    /* there isn't much space in between lines, on click due to translateY it can be overlapped by another entity border*/
    /* this ensure the border highlight is always visible */
    z-index: 1;
}

.rich-description-entity img {
    width: 12px;
    height: 12px;
    object-fit: contain;
}

/* ---- Description entity pill ----*/

.pill {
    padding: var(--space-1) var(--space-3);
    border: 1px solid var(--border);
    border-radius: var(--radius-full);
    background: var(--chip);
    color: var(--text);
    font-size: var(--font-size-xs);
}

.like {
    border: none;
    background: transparent;
    color: var(--color-text-subtle);
    cursor: pointer;
    opacity: 0;
    transition: opacity var(--transition-fast);
}

.like.is-liked {
    color: var(--like);
    /*opacity: 1;*/
    visibility: visible;
}

.card:hover .like {
    opacity: 1;
}
